<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">Grade Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/courses">Courses</a>
      <a class="nav-link" href="/students">Students</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
    </div>
  </div>
</nav>

<h1>View Student's <%= pluralize(@courses.count, "Courses") %></h1>
<a class="btn btn-dark" href="/students" role="button">Back</a>
<p></p>
<table class="table table-hover">
	<thead class="thead-dark">
		<tr>
			<th>Title</th>
			<th>Professor</th>
			<th>Room</th>
		</tr>
	</thead>
	<tbody>
		<% @courses.each do |course| %>
		<tr>
			<td><%= course.title %></td>
			<td><%= course.professor %></td>
			<td><%= course.room %></td>
				<% end %>
		</tr>
	</tbody>
</table>
<a href="/students">View Students</a>