<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<br>
<div class="container-fluid">
	<span>
		<div class="jumbotron">
  			<h1 class="display-4">Welcome to Grade Book</h1>
  			<p class="lead">This is a project by Sean Plunkett and Bishakha Roy!</p>
  			<hr class="my-4">
  			<p>Select a link to go to that page</p>
  			<a class="btn btn-primary btn-lg" href="/courses" role="button">Courses</a>
  			<a class="btn btn-primary btn-lg" href="/students" role="button">Students</a>
		</div>
	</span>
</div>