<h1>Welcome to Grade Book</h1>
<h3>Select a link to go to that page</h3>
<p><a href="/courses">Courses</a></p>
<p><a href="/courses/new">Create a Courses</a></p>
<p><a href="/students">Students</a></p>
<p><a href="/courses/new">Create a Student</a></p>