<style>
	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
</style>
<nav class="navbar sticky-top navbar-dark bg-dark">
	<a class="navbar-brand" href="/home">Grade Book</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-link" href="/home">Home</a>
			<a class="nav-link active" href="/courses">Courses<span class="sr-only">(current)</span></a>
			<a class="nav-link" href="/students">Students</a>
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming Soon</a>
		</div>
	</div>
</nav>

<h1><%= @course.title %> - Students</h1>
<div class="container-fluid">
	<button type="button" class="btn btn-dark" onclick="history.back()">Back</button>
	<a class="btn btn-success" href="/courses/<%= @course.id %>/students/addStudents" role="button">Add Student</a>
	<p></p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr>
				<td><%= student.first_name %></td>
				<td><%= student.last_name %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>