<h1>View Course's <%= pluralize(@students.count, "Student") %></h1>
<a href="/courses">Back</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<% @students.each do |student| %>
		<tr>
			<td><%= student.first_name %></td>
			<td><%= student.last_name %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="/courses/<%= @course.id %>/students/addStudents">Add Student</a>